{% extends 'blog/base_blog.html' %}

{% block title %}
	Вход - {{ block.super }}
{% endblock %}


{% block content %}

	<h1>Вход в аккаунт</h1>

	{% if form.errors %}

		<p>
			Логин и пароль не верны!
		</p>

	{% else %}

		<p>
			Используйте форму для входа.
		</p>
		<p>
			Если у вас еще нет аккаунта, то пройдите регистрацию <a href="{% url 'register' %}"><b>здесь</b></a>
		</p>

	{% endif %}


	<form class="post-create-form" action="{% url 'login' %}" method="post">

		{% csrf_token %}

		<input type="hidden" name="text" value="{{ next }}">

		<div class="edit-profil-form">

			{{ form }}

		</div>

		<button class="post-create-form__button" type="submit">
			Войти
		</button>
		
	</form>

	<p>
		<a href="{% url 'password_reset' %}">Забыли пароль?</a>
	</p>
		





{% endblock %}