{% extends 'blog/base_blog.html' %}

{% block title %}
	Сброс пароля - {{ block.super }}
{% endblock %}


{% block content %}

	<h1>Сброс пароля</h1>

	<p>
		Введите емайл адресс для получения нового пароля.
	</p>

	{% if validlink %}

		<p>Введите новый пароль дважды.</p>

		<form class="post-create-form" action="." method="post">

			{% csrf_token %}

			<div class="edit-profil-form">

				{{ form }}

			</div>

			<button class="post-create-form__button" type="submit">
				Ok
			</button>
			
		</form>

	{% else %}

		<p>
			Ссылка для нового пароля была недействительной. Возможно, потому, что уже была использована. <br>
			Запросите новый пароль для сброса.
		</p>
		

	{% endif %}



{% endblock %}