{% extends 'blog/base_blog.html' %}

{% block title %}
	Сброс пароля - {{ block.super }}
{% endblock %}


{% block content %}
	
	<section class="area-message">

		<h1 id="login-message-title">Сброс пароля</h1>

		{% if validlink %}

			<p class="login-message">Введите новый пароль дважды.</p>

			<form class="post-create-form" action="." method="post">

				{% csrf_token %}

				<div class="edit-profil-form">

					{{ form }}

				</div>

				<button class="post-create-form__button" type="submit">
					Ok
				</button>
				
			</form>

		{% else %}

			<p class="login-message">
				Ссылка для нового пароля была недействительной. Возможно, потому, что уже была использована. <br>
				Запросите пароль для сброса <a href="{% url 'password_reset' %}">снова</a>.
			</p>
			

		{% endif %}
	</section>



{% endblock %}