{% extends 'blog/base_blog.html' %}

{% block title %}
	Сброс пароля - {{ block.super }}
{% endblock %}


{% block content %}
	
	<section class="area-message">
		<h1 id="login-message-title">Забыли пароль?</h1>

		<p class="login-message">
			Введите емайл адресс для получения нового пароля.
		</p>


		<form class="post-create-form" action="." method="post">

			{% csrf_token %}

			<div class="edit-profil-form">

				{{ form }}

			</div>

			<button class="post-create-form__button" type="submit">
				Ok
			</button>

			
		</form>
	</section>
		
{% endblock %}