{% extends 'blog/base_blog.html' %}

{% block title %}
	Смена пароля - {{ block.super }}
{% endblock %}


{% block content %}
	
	<section class="area-message">
		<h1 id="login-message-title">Смена пароля</h1>

		<p class="login-message">
			Используйте форму ниже для смены пароля.
		</p>


		<form class="post-create-form" action="." method="post">

			{% csrf_token %}

			<div class="edit-profil-form">

				{{ form }}
				
			</div>

			<button class="post-create-form__button" type="submit">
				Сменить
			</button>

		</form>
	</section>
		





{% endblock %}