{% extends 'blog/base_blog.html' %}

{% load static %}


{% block title %}
	Редактирование профиля - {{ block.super }}
{% endblock %}


{% block content %}

	<section class="area-message">
		<h1 id="login-message-title">Редактирование профиля</h1>

		<p class="login-message">
			Используйте эту форму для редактирования профиля.
		</p>


		<form class="post-create-form" action="." method="post" enctype="multipart/form-data">

			{% csrf_token %}

			<div class="edit-profil-form">
				{% for field in user_form %}
					{{ field.label }}<br>
					{{ field }}<br><br>
				{% endfor %}
			</div>
			<div class="edit-profil-form">

				{% for field in profile_form %}
					{{ field.label }}<br>
					{{ field }}
				{% endfor %}
				
				
				
				
			</div>
		
			<button class="post-create-form__button" type="submit">
				Ok
			</button>

			

			
		</form>
	</section>
		
{% endblock %}