{% extends 'blog/base_blog.html' %}

{% block title %}
	Регистрация - {{ block.super }}
{% endblock %}


{% block content %}
	
	<section class="area-message">
		<h1 id="login-message-title">Создать аккаунт</h1>

		<p class="login-message">
			Заполните эту форму для регистрации на сайте.
		</p>


		<form class="post-create-form" action="." method="post">

			{% csrf_token %}

			
			<div class="edit-profil-form">

				{% for field in user_form %}
					{{ field.label }}<br>
					{{ field }}<br><br>
				{% endfor %}

			</div>
				<button class="post-create-form__button" type="submit">
					Ok
				</button>

			

			
		</form>
	</section>
		
{% endblock %}