{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Gameblog{% endblock %}</title>
	<meta name="yandex-verification" content="6510a867607311af" />
	<meta name="google-site-verification" content="OZoTgbNVdFFv7F-8KJ7HqJ1K21-XzTT05f9jLOBj5aU" />
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Philosopher:400,700&display=swap&subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
</head>
<body>
	<div class="container header__image">
		
	</div>
	<header class="header container">
		<a href="{% url 'posts_list_url' %}">
			<img class="logo header__logo" src="{% static 'blog/images/logo_4.jpg' %}">
		</a>
		<nav class="main-nav header__nav">
			<ul class="main-nav-list">
				<li class="main-nav-item"><a class="main-nav-link" href="{% url 'posts_list_url' %}">Главная</a></li>

				<li class="main-nav-item item-list">

					<a class="main-nav-link" href="{% url 'tags_list_url' %}">
						Категории
					</a>

				</li>

				<li class="main-nav-item">
					<a class="main-nav-link" href="{% url 'users_list' %}">
						Авторы
					</a>
				</li>

				<li class="main-nav-item"><a class="main-nav-link" id="rss" href="{% url 'post_feed' %}">RSS</a></li>
			</ul>
		</nav>
		<ul class="login-list header__login">
			<li class="login-item">

				{% if request.user.is_authenticated %}
					<div class="login-wrapper">

						<a class="login-link" href="{{ user.profile.get_absolute_url }}">
							<span><b>{{user.username|title}}</b></span>
							<img src="{% if user.profile.foto %} {{ user.profile.foto.url }} {% else %} {% static 'blog/images/enter.png' %} {% endif %}">
						</a>
						<a class="login-link" href="{% url 'logout' %}">
							<span>Выйти</span>
							<img src="{% static 'blog/images/exit.jpg' %}" alt="Фото пользователя">
						</a>

					</div>

				{% else %}

					<div class="login-wrapper">

						<a class="login-link" href="{% url 'login' %}">
							<span><b>-------</b></span>
							<img src="{% static 'blog/images/enter.png' %}" alt="Фото пользователя">
						</a>
						<a class="login-link" href="{% url 'login' %}">
							<span>Войти</span>
							<img src="{% static 'blog/images/exit.jpg' %}" alt="Фото пользователя">
						</a>
						<a class="login-link" href="{% url 'social:begin' 'facebook' %}">
							<span></span>
							<img src="{% static 'blog/images/exit.jpg' %}" alt="Фото пользователя">
						</a>
					
					</div>
					
				{% endif %}

			</li>
		</ul>
	</header>

	<section class="search container">
		<form class="search-form" action="{% url 'posts_list_url' %}" method="get">

			<input class="search-form__input" type="search" placeholder="Введите текст для поиска" name="search">
			<button class="search-form__button" type="submit">Найти</button>
			
		</form>
	</section>

	<main class="main container">
		
		<div class="main-wrapper">
			<!--<aside class="aside disabled">
				<h2>Функции</h2>
				<ul class="aside-list">
					<li class="aside-item"><a class="aside-link" href="/admin">Админка</a></li>
					<li class="aside-item"><a class="aside-link" href="{% url 'post_create_url' %}">Добавить статью</a></li>
					<li class="aside-item"><a class="aside-link" href="{% url 'tag_create_url' %}">Добавить тэг</a></li>
					<li class="aside-item"><a class="aside-link" href="#">Популярные статьи</a></li>
					<li class="aside-item"><a class="aside-link" href="#">RSS рассылка</a></li>
				</ul>
			</aside>-->

			<section class="posts">

				{% if is_paginated %}

					<ul class="paginations-list">
						<li class="paginations-item {% if not prev_url %}disabled{% endif %}">
							<a href="{{ prev_url }}" class="paginations-button">
								<<
							</a>
						</li>


						{% for n in page.paginator.page_range %}

							{% if page.number == n %}

								<li class="paginations-item">
									<a href="?page={{ n }}" class="paginations-button paginations-button__current">
										{{ n }}
									</a>
								</li>

							{% elif n > page.number|add:-3 and n < page.number|add:3 %}

								<li class="paginations-item">
									<a href="?page={{ n }}" class="paginations-button">
										{{ n }}
									</a>
								</li>

							{% endif %}

						{% endfor %}


						<li class="paginations-item {% if not next_url %}disabled{% endif %}">
							<a href="{{ next_url }}" class="paginations-button paginations-button__last">
								>>
							</a>
						</li>
					</ul>

				{% endif %}


				{% block content %}
					
				{% endblock %}
				

				{% if is_paginated %}

					<ul class="paginations-list">
						<li class="paginations-item {% if not prev_url %}disabled{% endif %}">
							<a href="{{ prev_url }}" class="paginations-button">
								<<
							</a>
						</li>


						{% for n in page.paginator.page_range %}

							{% if page.number == n %}

								<li class="paginations-item">
									<a href="?page={{ n }}" class="paginations-button paginations-button__current">
										{{ n }}
									</a>
								</li>

							{% elif n > page.number|add:-3 and n < page.number|add:3 %}

								<li class="paginations-item">
									<a href="?page={{ n }}" class="paginations-button">
										{{ n }}
									</a>
								</li>

							{% endif %}

						{% endfor %}


						<li class="paginations-item {% if not next_url %}disabled{% endif %}">
							<a href="{{ next_url }}" class="paginations-button paginations-button__last">
								>>
							</a>
						</li>
					</ul>

				{% endif %}
				

			</section>
		</div>

		
		{% if not request.user.is_authenticated %}
			<section class="admin-panel social-panel">

				<a class="admin-panel__link social-icon fb" href="{% url 'social:begin' 'facebook' %}"></a>

				<!--
				<a class="admin-panel__link social-icon ggl" href="{% url 'social:begin' 'google-oauth2' %}"></a>
				-->

			</section>

		{% endif %}

		{% if request.user.is_authenticated and request.user.is_staff %}
			<section class="admin-panel">

				<a class="admin-panel__link  admin-panel__link--admin" href="/admin">Админка</a>
				
				{% block admin-panel %}
				
				{% endblock %}
				
			</section>
		{% endif %}

		{% if request.user.is_authenticated and not request.user.is_staff %}
			<section class="admin-panel">
				
				{% block user-panel %}
				
				{% endblock %}
				

			</section>
		{% endif %}



	</main>


	<footer class="footer container">

		<section class="conacts">
			<p>
				<b>Контакты:</b><br>Skype: <br>Telegram: 
			</p>
		</section>

	</footer>
	


</body>
</html>